/* Variables */
:root {
  --background:#2e2e2e;
  --main-color: #c0ff33;
  --main-opaque:var(--main-color, 0.5);
  --blur: blur(50px)
  
}
/* Font Families */
.tomorrow-thin,.tomorrow-thin-italic{font-family:"Tomorrow",sans-serif;font-weight:100}
.tomorrow-extralight,.tomorrow-extralight-italic{font-family:"Tomorrow",sans-serif;font-weight:200}
.tomorrow-light,.tomorrow-light-italic{font-family:"Tomorrow",sans-serif;font-weight:300}
.tomorrow-regular,.tomorrow-regular-italic{font-family:"Tomorrow",sans-serif;font-weight:400}
.tomorrow-medium,.tomorrow-medium-italic{font-family:"Tomorrow",sans-serif;font-weight:500}
.tomorrow-semibold,.tomorrow-semibold-italic{font-family:"Tomorrow",sans-serif;font-weight:600}
.tomorrow-bold,.tomorrow-bold-italic{font-family:"Tomorrow",sans-serif;font-weight:700}
.tomorrow-extrabold,.tomorrow-extrabold-italic{font-family:"Tomorrow",sans-serif;font-weight:800}
.tomorrow-black,.tomorrow-black-italic{font-family:"Tomorrow",sans-serif;font-weight:900}

.tomorrow-thin-italic,.tomorrow-extralight-italic,.tomorrow-light-italic,.tomorrow-regular-italic,.tomorrow-medium-italic,.tomorrow-semibold-italic,.tomorrow-bold-italic,.tomorrow-extrabold-italic,.tomorrow-black-italic{font-style:italic}

/* Animations */
@keyframes spin {
  from {
      rotate: 0deg;
  }
  

  to {
      rotate: 360deg;
  }
}
@keyframes wiggle {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);

  }
}

@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
      -webkit-transform: translate3d(-90px, 0, 0);
  }

  100% {
      transform: translate3d(85px, 0, 0);
      -webkit-transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-box {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + var(--gap)))
  }
  
  
}
@keyframes flow {
  0% {
    top:6px;
  }
  100% {
    top:290px;
  }
}
@keyframes flick {
  0%,100% {
    transform: rotate(-65deg);
  }
  50% {
    transform: rotate(-95deg);
  }
}
@keyframes lever {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 90deg;
  }
}
@keyframes lever-reverse {
  from {
    rotate: 0;
  }
  to {
    rotate: -90deg;
  }
}
@keyframes flicker {
	0%, 19.9%, 22%,  64%, 64.9%, 70% {
		opacity: 0.99;
		
	}
	20%,62.9%, 21.9%, 63%, 63.9%, 65%, 69.9% {
		opacity: 0.4;
	}
  100% {
    opacity: 0;
  }
}
@keyframes steam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }

}
/* Body Styling */
body {
  width: 100%;
  overflow-x: hidden;
    background-color: var(--background);
    transition: all 0.5s;
    margin: 0;
    
}
html, body {
  overflow-x: clip;
  margin: 0;
  padding: 0;
  
}
body > * {
  transition: all 0.5s;
}
.page-cover {
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background-color: var(--background);
  z-index:9999998 ;
}
.flicker {
  animation: flicker 1.5s forwards;
}
.flicker-reverse {
  animation: flicker 1.5s reverse forwards;
}
/* Scrollbar Styling */
#scrollTest {
  position: fixed;
  top: 10px;
  left:10px;
  background-color: var(--background);
  /* background-color: red; */
  padding: 10px;
z-index: 999;
  width: 100%;
  clip-path: url("#testScroll");
  transition: 0.5s all;
}
#scrollTestBackground {
  width:30px;
  top:-10px;
  background-color: var(--background);
  position: fixed;
  right:11.7px;
  clip-path: url('#ScrollPathBackground');
  z-index: 950;
  height:100%;
  transition: 0.5s all;
}
#scrollBar {
  width:30px;
  top:-10px;
  height:100%;
  background-color: var(--main-color);
  position: fixed;
  right:10px;
  clip-path: url('#scroll');
  z-index: 951;
  transition: 0.5s background-color;


}
#scrollBackground {
  width:30px;
  top:-10px;
  background-color: var(--background);
  position: fixed;
  right:11.7px;
  clip-path: url('#ScrollPathBackground');
  z-index: 95;
  transition: 0.5s background-color;

}
::-webkit-scrollbar {
 display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Navbar Styling */
.navbar ul {
  display:flex;
  width: 90%;
  height:50px;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  margin:0px;
}
.navbar li {
  margin-right:32px;
  transition: all 0.5s;
  stroke:var(--background);
  stroke-width: 5px;
}
.navbar li a {
  position: relative;
  text-decoration: none;
  color:var(--main-color);
  font-size: 24px;
  scroll-behavior: smooth;
  stroke:var(--background);
  stroke-width: 5px;
  -webkit-text-stroke: 0.75px var(--background);
  

}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar li:hover {
  transform: scale(1.2);
  filter: drop-shadow( 0 0 2px --main-opaque);

}
.upsideDown {
  margin-top: -35px;
  transform: rotate(180deg);
}
.projects {
  height:80vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 20;
  
}
.gear {
  
  width:100px;
  height:100px;
  background-color: var(--main-color);
  clip-path: url('#gearSVG');
}
.gear-click {
  position: relative;
  top:2%;
  left:2%;
  width:100px;
  height:100px;
  cursor: pointer;
}

.pipes {
  width:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:100%;
}


/* SVG styling */
.svg1, .svg2 {
    fill-opacity: 0;
    width:50%;
    position: absolute;
    animation: spin 10s linear infinite ;
    top:-30%;
    left:-10%;
    stroke: var(--main-color);
    stroke-width: 2px;
    filter: drop-shadow( 0 0 10px var(--main-opaque));
    z-index: -1;
}
.svg1 path, .svg2 path {
  fill: var(--background);
}
.circles {
  height:100vh;
  position: absolute; 
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}
.steam {
  width:100px;
  height:100px;
  background-color: var(--main-color);
  clip-path: url('#steamSVG');
  translate: 110% -290%;
  rotate:90deg;
  opacity: 0;
}
.steam-anim {
  animation: steam 1s ease-in forwards normal infinite;

}
#steam {
  clip-path: url('#steamSVG');

}
.whistle, .lever {
  top:10%;
  position: absolute;
  height:500px;
  width:25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999999;
}
.lever {
  right:0;
}
.lever-body {
  background-color: var(--main-color);
  height:150px;
  position: absolute;
  right:0;
  border-radius: 50% 0 0 50%   ;
  width: 75px;
  cursor: pointer;
}
.lever-head-on, .lever-head-off, .lever-head {
  width:100%;
  height:10px;
  transform-origin: right;
  cursor: pointer;
  /* animation: lever 1s ease-in normal forwards ; */
}
.lever-head-on, .lever-head-off  {
  background-color: var(--main-color);
  transform: rotate(-45deg);

}
.lever-head-off {
  display: none;
  background-color: var(--main-color);
  transform: rotate(45deg);
}
.whistle-body {
  transform-origin: bottom left;
  transform: rotate(-60deg);
  background-color: var(--main-color);
  width:100%;
  height:50px;
}
.whistle-head {
  transform: translate(20px, -110px);
  height:150px;
  width: 100px;
  background-color: var(--main-color);
  clip-path: url('#whistle');
}
.hero-title {
    color:var(--main-color);
    margin:5px;
    -webkit-text-stroke:0.75px var(--background)
}
.colors {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.colorBtn {
  border-radius: 7px;
  border: none;
  margin:5px;
cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.colorSelect {
  color:var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.hero {
    stroke:  var(--background);
    stroke-width: 5px;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proj-container {
  top:60px;
  width: 80%;
  height:100%;
  mask-repeat: no-repeat;
  border-radius: 30px;
  position: relative;
  border: 5px solid var(--main-color);
  z-index: 99;
  background-color: var(--background);
  display: flex;
  flex-direction: column;

}
.project-grid {
  display: none;
}
.project-carousel {
  width:80%;
  height:80%;
  background-color: var(--main-color);
  border-radius: 10px;
}
.project {
  width:100px;
  height:100px;
  background-color: var(--background);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  position: relative;
}
.title {
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
  
}
.liquid {
  position: relative;
  width: 100%;
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom:40%;
}
.fluid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width:100%;
}
.flow {
  fill: var(--main-color);
  position: relative;
  z-index: 9;
  animation: flow 0.8s infinite linear;
}
.top {
  position: relative;
  transform: translateY(-29px);
}
.nudge {
  position: relative;
  bottom:100px;
  transform: translateY(-70px);
}
.nudge2 {
  transform: translateY(-150px);
  position: relative;
  bottom:200px;
}
.nudge3 {
  transform: translateY(-200px);
}
.description {
  text-align: center;
  color:var(--main-color);
  -webkit-text-stroke:0.5px var(--background)
}
.hero-main {
    width:50%;
    display: flex;
    justify-content: center;
}
.svg3 {
  /* filter: drop-shadow( 0 0 10px var(--main-opaque)); */

  transform: translate3d(0, 0, 0);
  z-index: 98;
}
.svg3 path {
  fill: var(--main-color);
}
use {
  z-index: 95;
}
.waves {
  transform: translateY(10px);
  width: 210%;
  z-index: 20;
  bottom: 10px;
  left: 0;
  
}

.bridge {
  height:100vh;
  width: 100%;
  background-color: var(--background);
}
.cover {
  position: relative;
  z-index: 85;
  top:65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.pipe {
  height:50px;
  width:100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pipe-glass {
  width:80%;
  height:20px;
  background-color: var(--background);
  border: 2px solid var(--background);
  border-radius: 10px;
}
.pour-right, .pour-left {
  height:100%;
  width:150%;
  background-color: var(--main-color);
  border-radius: 10px;
 
}
.pour-right {
   position: relative;
  right:290px;
}
.pour-left {
  position: relative;
 left:200px;
}
.funnel {
  position: relative;
  height:100%;
  width:100%;
  clip-path: polygon(0 0, 100% 0, 60% 50%, 60% 70%, 40% 70%, 40% 51%);
  z-index: 10;
  background-color: var(--main-color);
}
.intake {
  position: absolute;
  height:20%;
  width:30%;
  clip-path: polygon(0 0, 100% 0, 60% 50%, 60% 70%, 40% 70%, 40% 51%);
  z-index: 10;
  background-color: var(--main-color);
  left:35%;
  transform: translateY(15px);
}
#wave{
  animation: move-forever 10s linear infinite;
  /* filter: drop-shadow( 0 0 1px var(--main-opaque)); */
}
#color {
  transition: all 0.5s;
}
#color::-webkit-color-swatch {
border: none;
border-color:transparent;
}
.centered {
  justify-content: space-evenly;
  text-align: center;
}
.arrow-body {
  /* Rectangle 1 */

position: relative;
left:45%;
top:75px;
width: 10px;
height: 75px;
background: var(--main-color);
border-radius: 10px;
z-index: 99;
}
.arrow {
  position: fixed;
  right:50px;
  top:45%;
display: flex;
flex-direction: column;
}

.arrow svg {
  z-index: 999;
  stroke: var(--background);
  stroke-width: 2px;
 position: relative;
 margin:0px;
animation: wiggle 5s ease-in-out infinite
}
.arrow svg path {
  fill: var(--main-color);
}
.arrow svg:nth-child(1) {
  animation-delay: 200ms;
}
.arrow svg:nth-child(2) {
  animation-delay: 400ms;
}
.arrow svg:nth-child(3) {
  animation-delay: 600ms;
}





.aboutMe {
  color:var(--background);
  width:100vw;
  height:200vh;
  background-color: var(--main-color);
  z-index: 11;
  bottom:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.arrow {
  z-index: 999;
}
.about-content {
  margin:20px;
  text-align: left;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content * {
  text-wrap:wrap;
  margin:20px;
}
.about-img {
  position: relative;
height:400px;
aspect-ratio: 1/1;

 }
.about-mask {
  height:100%;

position: absolute;
inset: 0;
background-color: #ffaa00;
overflow: hidden;

/* animation: spin 5s linear infinite; */

}
.about-mask, .about-mask img {
  
  margin: 0;
}
.about-mask img {
 animation: spin 5s linear infinite;
animation-direction: reverse;
}
.about-mask {
  position: absolute;
  display: block;
content: "";
  height:100%;
  width:100%;

mask-image: url('/assets/blob.svg');
mask-size: contain;
mask-repeat: no-repeat;
mask-composite: exclude;
mask-clip: border-box;
animation: spin 5s linear infinite;

}

.about-title {
  color:var(--background);

  font-size: 40px;
  text-align: left;
}
.navbar {
  position: sticky;
  top:0;
  z-index: 9999;
  
}
#about {
position: relative;
top:20%;
}
.about-desc {
  width:50%;
}
.contact {
  position: relative;
  z-index: 1000;
  height:90vh;
  width: 100%;
}
.contact-container {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.conveyer {
  width: 100%;
}
.screen {
  height:60%;
  width:60%;
  border:5px solid var(--main-color);
  border-radius: 20px;
  transform: translateY(20px);
}
.sorter {
  display: flex;
  height:30%;
  width:40%;
  background-color: var(--main-color);
  border-radius: 20px 20px 0px 0px;
  position: relative;
  top:100px;
  justify-content: flex-end;
  z-index: 99;
}

.logos {
  position: absolute;
  left:50%;
  display: flex;
  width: 50%;
  height:100%;
  justify-content: space-between;
}
.logo {
  height:100px;
  width:100px;
  animation: move-box 1s linear infinite;
  background-color: var(--main-color);
  animation-direction: alternate;
}
.hinge {
  position: relative;
  right:10px;
  top:10px;
  width:5px;
  height:95%;
  border-radius: 20px;
  transform-origin: top left;
  background-color: var(--main-color);
  animation: flick 1s ease-in infinite;

}
.box {
  --gap: 200px;
  position: relative;
  aspect-ratio: 1/1;
  width:100px;
  height:100px;
  background-color: var(--main-color);
  margin-right:var(--gap);
  top:100px;
  animation: move-box 1s linear infinite;

}
.gap {
  margin-right: var(--gap);
  /* position: relative; */
  /* left:20%; */
}
.boxLabel {
position: relative;
bottom: 80px;
z-index: 60 !important;

}

.code {
  position: relative;
  z-index: 105;
  font-size: 80px;
  color:var(--background);
}
.boxes {
  transform: translateY(-100%) translateX(-15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:100%;
  position: relative;
  z-index: 99;
}
.reverse {
  animation-fill-mode: forwards;
  animation-direction: reverse !important;
}
.lever-switch {
   animation: lever 0.8s ease-in normal forwards ;
}
.lever-switch-reverse {
  animation: lever-reverse 0.8s ease-in normal forwards
}
.boxBottom {
  position: relative;
  top:120%;
}

.cog {
  width:50px;
  height:100%;
  background-color: var(--main-color);
  clip-path: url("#cog");
  animation:spin 2s linear infinite;
}
.half {
  width:100%;
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.shroud {
  width:50%;
  height:100%;
  background-color: var(--background);
  transform: translateY(-230%);
  /* position: relative; */
  z-index: 70
}
.belt, .belt-static {
  width:99%;
  height:50px;
  border: 5px solid var(--main-color);
  border-radius:10px;
  display: flex;
  justify-content: space-between;
}

/*Shrinking for mobile*/

@media (max-width: 1000px) {

  .scroll-link {
    font-size: 20px !important;
  }
 .arrow {
  top:15%;
 }
}
.svgs {
  position: absolute;
}
@media (max-width:750px) {
  .svg1, .svg2 {
    width: 800px;
    overflow-x: hidden;
  }
  .about-content {
    display: flex ;
    flex-direction: column;
  }
  .about-desc {
    width: 90%;
  }
}

@media (max-width:500px) {
  .boxes {
    transform: translateY(-100%) translateX(-80%);
  }

}
@media (max-width:400px) {
  .boxes {
    transform: translateY(-100%) translateX(-110%);
  }
}

