/* Variables */
:root {
  --background:#1B1F24;
  --main-color: #c0ff33;
  --main-opaque:var(--main-color, 0.5);
  --blur: blur(50px)
  
}
/* Font Families */
.tomorrow-thin,.tomorrow-thin-italic{font-family:"Tomorrow",sans-serif;font-weight:100}
.tomorrow-extralight,.tomorrow-extralight-italic{font-family:"Tomorrow",sans-serif;font-weight:200}
.tomorrow-light,.tomorrow-light-italic{font-family:"Tomorrow",sans-serif;font-weight:300}
.tomorrow-regular,.tomorrow-regular-italic{font-family:"Tomorrow",sans-serif;font-weight:400}
.tomorrow-medium,.tomorrow-medium-italic{font-family:"Tomorrow",sans-serif;font-weight:500}
.tomorrow-semibold,.tomorrow-semibold-italic{font-family:"Tomorrow",sans-serif;font-weight:600}
.tomorrow-bold,.tomorrow-bold-italic{font-family:"Tomorrow",sans-serif;font-weight:700}
.tomorrow-extrabold,.tomorrow-extrabold-italic{font-family:"Tomorrow",sans-serif;font-weight:800}
.tomorrow-black,.tomorrow-black-italic{font-family:"Tomorrow",sans-serif;font-weight:900}

.tomorrow-thin-italic,.tomorrow-extralight-italic,.tomorrow-light-italic,.tomorrow-regular-italic,.tomorrow-medium-italic,.tomorrow-semibold-italic,.tomorrow-bold-italic,.tomorrow-extrabold-italic,.tomorrow-black-italic{font-style:italic}

/* Animations */
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  

  to {
    transform: rotate(360deg);
  }
}
@keyframes wiggle {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);

  }
}
@keyframes wiggleX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);

  }
}
@keyframes move-forever {
  0% {
      transform: translateX(-90px);
      /* -webkit-transform: translate3d(-90px, 0, 0); */
  }

  100% {
    transform: translateX(85px);
    /* -webkit-transform: translate3d(85px, 0, 0); */
  }
}
@keyframes move-box {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + var(--gap)))
  }
  
  
}
@keyframes flow {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(290px);
  }
}
@keyframes flick {
  0%,100% {
    transform: rotate(-65deg);
  }
  50% {
    transform: rotate(-95deg);
  }
}
@keyframes lever {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-400px);
  }
}

@keyframes flicker {
	0%, 19.9%, 22%,  64%, 64.9%, 70% {
		opacity: 0.99;
		
	}
	20%,62.9%, 21.9%, 63%, 63.9%, 65%, 69.9% {
		opacity: 0.4;
	}
  100% {
    opacity: 0;
  }
}
@keyframes steam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }

}
/* Body Styling */
body {
  width: 100%;
  overflow-x: hidden;
    background-color: var(--background);
    transition: all 0.5s;
    margin: 0;
    
}


html, body {
  overflow-x: clip;
  margin: 0;
  padding: 0;
  
}
body > * {
  transition: all 0.5s;
}
.page-cover {
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background-color: var(--background);
  z-index:9999998;
}
.sig-arrow {
  height:50px;
  width: 50px;
  position: absolute;
  right:10%;
  top:150px;
  background-color: var(--main-color);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  animation: wiggleX 1.5s infinite;
  rotate: 35deg;
}
.flicker {
  animation: flicker 1.5s forwards;
}
.flicker-reverse {
  animation: flicker 1.5s reverse forwards;
}
/* Scrollbar Styling */
#scrollTest {
  position: fixed;
  top: 10px;
  left:10px;
  background-color: var(--background);
  /* background-color: red; */
  padding: 10px;
z-index: 999;
  width: 100%;
  clip-path: url("#testScroll");
  transition: 0.5s all;
}
#scrollTestBackground {
  width:30px;
  top:-10px;
  background-color: var(--background);
  position: fixed;
  right:11.7px;
  clip-path: url('#ScrollPathBackground');
  z-index: 950;
  height:100%;
  transition: 0.5s all;
}
#scrollBar {
  width:30px;
  top:-10px;
  height:100%;
  background-color: var(--main-color);
  position: fixed;
  right:10px;
  clip-path: url('#scroll');
  z-index: 951;
  transition: 0.5s background-color;


}
#scrollBackground {
  width:30px;
  top:-10px;
  background-color: var(--background);
  position: fixed;
  right:11.7px;
  clip-path: url('#ScrollPathBackground');
  z-index: 95;
  transition: 0.5s background-color;

}
::-webkit-scrollbar {
 display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Navbar Styling */
.navbar ul {
  display:flex;
  width: 90%;
  height:50px;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  margin:0px;
}
.navbar li {
  margin-right:32px;
  transition: all 0.5s;
  stroke:var(--background);
  stroke-width: 5px;
}
.navbar li a {
  position: relative;
  text-decoration: none;
  color:var(--main-color);
  font-size: 24px;
  scroll-behavior: smooth;
  stroke:var(--background);
  stroke-width: 5px;
  -webkit-text-stroke: 0.75px var(--background);
  

}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar li:hover {
  transform: scale(1.2);
  filter: drop-shadow( 0 0 2px --main-opaque);

}
.upsideDown {
  margin-top: -35px;
  transform: rotate(180deg);
}
.projects {
  height:80vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 20;
  /* background-color: var(--background); */
  
}
#dialog-project {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  
}
#dialog-close {
  position: absolute;
  top:20px;
  right:20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.links a {
  color:var(--main-color);
  background-color: var(--background);
  width:100px;
  text-align: center;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid var(--background);
  transition: 0.3s all;
}
.links a:hover {
  border: 2px solid var(--background);
  background-color: var(--main-color);
  color: var(--background);
}
.live-links {
  display: flex;
  width:50%;
  justify-content: space-around;
  margin-top:50px;
transition:none;
}
.live-links > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: none;
}
.light {
  color: var(--main-color) !important;
  font-size:40px;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
.dark {
  color: var(--background) !important;
  font-size:40px;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
.live-links section:hover {
    border-color: var(--main-color);
  
}
.live-links section {
  border-bottom: 1px solid var(--background);
}
.live-links section > * {
  text-decoration: none;
  color: var(--main-color);
}
#live, #github {
  opacity: 0;
}
#live-desktop, #github-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#live-desktop a, #github-desktop a {
  color: var(--background);
  text-decoration: none;
}
.info-links-desktop {
  display: none;
  width:50%;
  justify-content: space-evenly;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.fade-in {
  visibility: visible; 
  animation: fadeIn 0.5s ease-in forwards; 
}

.gear {
  
  width:100px;
  height:100px;
  background-color: var(--main-color);
  clip-path: url('#gearSVG');
}
.gear-click {
  position: absolute !important;
  top:2%;
  left:2%;
  width:100px;
  height:100px;
  cursor: pointer;
}

.pipes {
  width:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:100%;
}


/* SVG styling */
.svg1, .svg2 {
    fill-opacity: 0;
    width:50%;
    position: absolute;
    animation: spin 10s linear infinite ;
    top:-30%;
    left:-10%;
    stroke: var(--main-color);
    stroke-width: 2px;
    filter: drop-shadow( 0 0 10px var(--main-opaque));
    z-index: -1;
}
.svg1 path, .svg2 path {
  fill: var(--background);
}
.circles {
  height:100vh;
  position: absolute; 
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}
.steam {
  width:100px;
  height:100px;
  background-color: var(--main-color);
  clip-path: url('#steamSVG');
  translate: 110% -290%;
  rotate:90deg;
  opacity: 0;
}
.steam-anim {
  animation: steam 1s ease-in forwards normal infinite;

}
#steam {
  clip-path: url('#steamSVG');

}
.whistle, .lever {
  top:20%;
  position: absolute;
  width:25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999999;
}
.lever {
  position: absolute;
  top:0;
  right:0;
}
.lever-body {
  background-color: var(--main-color);
  height:150px;
  position: absolute;
  right:0;
  width: 75px;
  cursor: pointer;
}
.lever-head {
  width:10px;
  height:35%;
  position: absolute;
  top:-50px;
  right:7%;
  transform-origin: right;
  cursor: pointer;
  background-color: var(--main-color);
  /* animation: lever 1s ease-in-out normal forwards ; */
}
.lever-handle {
  position: absolute;
  top:25%;
  border-radius: 10px;
  right:calc(7% - 5px);
  height:5%;
  width:20px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.bar {
  width:100%;
  background-color: var(--background);
  height:2px;
}
.lever {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}


.whistle-body {
  transform-origin: bottom left;
  transform: rotate(-60deg);
  background-color: var(--main-color);
  width:200px;
  height:30px;
}
.whistle-head {
  transform: translate(20px, -110px);
  height:150px;
  width: 100px;
  background-color: var(--main-color);
  clip-path: url('#whistle');
}
.hero-title {
    color:var(--main-color);
    margin:5px;
    -webkit-text-stroke:0.75px var(--background)
}
.colors {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom:10px;
}
.colorBtn {
  border-radius: 7px;
  border: none;
  margin:5px;
cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.colorSelect {
  color:var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  z-index: 999999;
}
.hero {
    stroke:  var(--background);
    stroke-width: 5px;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proj-container {
  z-index: 99;
  top:60px;
  width: 80%;
  height:600px;
  mask-repeat: no-repeat;
  border-radius: 30px;
  position: relative;
  border: 5px solid var(--main-color);
  z-index: 99;
  background-color: var(--background);
  display: flex;
  flex-direction: column;

}
.proj-container > * {
  position: relative;
  z-index: 99;
}

.project-carousel {
  width:80%;
  height:100%;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
 
  
}
.project-grid {
  width:100%;
  height:100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease-in-out;
}
.grid-item {
  width:200px;
  aspect-ratio: 3/2;
  margin:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  transition: 0.3s all ease-in-out;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.grid-item:hover {
  scale: 1.1;
}
.grid-item img {
  border-radius: 10px 10px 0px 0px;
}
.project-carousel * {
  transition: 0.5s all ease-in-out;
}
.grid-box {
  width:50%;
  height:25%;
}
.gridIcons {
  height:50%;
  width:50%;
  background-color: var(--background);
  clip-path: url('#grid-icons');
}
.gridBtn, .carouselBtn {
  height:100px;
  width:100px;
  background-color: var(--main-color);
  position: absolute;
  right:2%;
  top:2%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50%;
  cursor: pointer;
  z-index: 105;
}
.grid-modal {
  position: absolute;
  height:80%;
  width: 80%;
  background-color: var(--main-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#close-modal-button {
  position: absolute;
  top:20px;
  left:20px;
  font-size: 32px;
  cursor: pointer;
}
.grid-bio {
  width: 50%;
  text-align: center;
  margin-right:20px;
  margin-left:20px;
}
.project-links {
  display: flex;
  justify-content: space-evenly;
}
.grid-img {
  width:50%;
  margin-right:20px;
}
.gridBtn {
  flex-wrap: wrap;

}
.carouselIcon {
  
 aspect-ratio: 3/2;
  background-color: var(--background);
}
.main {
  height:35%;
}
.side {
  opacity:0.3;
}
.c-left {
  height:30%;
  transform: translate(-9px,3px);
  position: absolute;
}
.c-right {
  height:30%;
  transform: translate(18px,3px);
  position: absolute;
}
.project {
  width:50%;

  background-color: var(--background);
}
input[type=radio] {
  display: none;
}
.project {

position: absolute;
  aspect-ratio: 16/9;
}
#project-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
#project-links * {
  margin:10px;
}

.card {
  position: absolute;
  width: 60%;
  aspect-ratio: 3/2;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
}

.item-container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding-top:25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.chevron-left {
  width: 100px;
  height:100px;
  background-color: var(--main-color);
  clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  position: absolute;
  left:0;
}
.chevron-right {
  width: 100px;
  height:100px;
  background-color: var(--main-color);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  position: absolute;
  right: 0;
}
img {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 10px;
  object-fit: cover;
}
.chevron-left, .chevron-right {
  cursor: pointer;
}
.info-card {
  background-color: var(--main-color);
  border-radius: 8px;
  min-width: 80%;
  padding: 16px 10px;
  margin-top:5%;
  margin-bottom: 20px;
  display: flex;
}

.upper-part {
 text-align: center;
 transition:0.4s all ease-in-out;
}

.cards img {
  height:100%;
  border-radius: 0px;
}


.project-info {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.project-info .title {
  color: var(--background);
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: var(--background);
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
 
  text-align: center;
  transition: transform .4s ease-in;
}
#center {
  z-index: 99;
  opacity: 1 !important;
}
#item-2:checked ~ .info-card #test {
  transform: translateY(0px);
}

#item-2:checked ~ .info-card #test  {
  transform: translateY(-80px);
}

#item-3:checked ~ .info-card #test  {
  transform: translateY(-160px);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  position: relative;
  z-index:98;
}
.title {
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
  
}
.liquid {
  position: relative;
  width: 100%;
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom:40%;
}
.fluid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width:100%;
}
.flow {
  fill: var(--main-color);
  position: relative;
  z-index: 9;
  will-change: transform;
  animation: flow 0.8s infinite linear;
}
.top {
  position: relative;
  transform: translateY(-29px);
}

.nudge {
  position: relative;
  bottom:100px;
  transform: translateY(-70px);
}
.nudge2 {
  transform: translateY(-150px);
  position: relative;
  bottom:200px;
}
.nudge3 {
  transform: translateY(-200px);
}
.nudge4, .nudge5, .nudge6, .nudge7, .nudge8 {
  display: none;
}
.description {
  text-align: center;
  color:var(--main-color);
  -webkit-text-stroke:0.5px var(--background)
}
.hero-main {
    width:50%;
    display: flex;
    justify-content: center;
}
.svg3 {
  /* filter: drop-shadow( 0 0 10px var(--main-opaque)); */

  transform: translate3d(0, 0, 0);
  z-index: 98;
}
.svg3 path {
  fill: var(--main-color);
}
use {
  z-index: 95;
}
.waves {
  transform: translateY(10px);
  width: 210%;
  z-index: 20;
  bottom: 10px;
  left: 0;
  
}
.fast-left-top {
  translate: -300px -20px;
  animation: move-forever 10s linear infinite;
}
.bridge {
  height:100vh;
  width: 100%;
  background-color: var(--background);
}
.cover {
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.pipe {
  height:50px;
  width:100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pipe-glass {
  width:80%;
  height:20px;
  background-color: var(--background);
  border: 2px solid var(--background);
  border-radius: 10px;
}
.pour-right, .pour-left {
  height:100%;
  width:150%;
  background-color: var(--main-color);
  border-radius: 10px;
 
}
.pour-right {
   position: relative;
  right:290px;
}
.pour-left {
  position: relative;
 left:200px;
}
.funnel {
  bottom:1px;
  position: relative;
  height:100%;
  width:100%;
  clip-path: polygon(0 0, 100% 0, 60% 50%, 60% 70%, 40% 70%, 40% 51%);
  z-index: 10;
  background-color: var(--main-color);
}
.intake {
  position: relative;
  height:100px;
  width:100%;

 
  transform-origin: center;
  transform: translateY(200px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-funnel {
  clip-path: polygon(0 0, 100% 0, 60% 50%, 60% 70%, 40% 70%, 40% 51%);
  z-index: 10;
  width:30%;
  height:100%;
  background-color: var(--main-color);
  position: relative;
  top:100px;
}
#wave{
  animation: move-forever 10s linear infinite;
  /* filter: drop-shadow( 0 0 1px var(--main-opaque)); */
}
#color {
  margin-top:10px;
  transition: all 0.5s;
}
#color::-webkit-color-swatch {
border: none;
border-color:transparent;
}
.centered {
  justify-content: space-evenly;
  text-align: center;
}
.arrow-body {
  /* Rectangle 1 */

position: relative;
left:45%;
top:75px;
width: 10px;
height: 75px;
background: var(--main-color);
border-radius: 10px;
z-index: 99;
}
.arrow {
  position: fixed;
  right:50px;
  top:45%;
display: flex;
flex-direction: column;
}

.arrow svg {
  z-index: 999;
  stroke: var(--background);
  stroke-width: 2px;
 position: relative;
 margin:0px;
animation: wiggle 5s ease-in-out infinite
}
.arrow svg path {
  fill: var(--main-color);
}
.arrow svg:nth-child(1) {
  animation-delay: 200ms;
}
.arrow svg:nth-child(2) {
  animation-delay: 400ms;
}
.arrow svg:nth-child(3) {
  animation-delay: 600ms;
}





.aboutMe {
  color:var(--background);
  width:100vw;
  height:200vh;
  background-color: var(--main-color);
  z-index: 11;
  bottom:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.arrow {
  z-index: 999;
}
.about-content {
  margin:20px;
  text-align: left;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content * {
  text-wrap:wrap;
  margin:20px;
}
.about-img {
  position: relative;
height:400px;
aspect-ratio: 1/1;

 }
.about-mask {
  height:100%;

position: absolute;
inset: 0;
background-color: #ffaa00;
overflow: hidden;

/* animation: spin 5s linear infinite; */

}
.about-mask, .about-mask img {
  
  margin: 0;
}
.about-mask img {
  height:100%;
  width:100%;
 animation: spin 5s linear infinite;
animation-direction: reverse;
}
.about-mask {
  position: absolute;
  display: block;
content: "";
  height:100%;
  width:100%;

mask-image: url('/assets/blob.svg');
mask-size: contain;
mask-repeat: no-repeat;
mask-composite: exclude;
mask-clip: border-box;
animation: spin 5s linear infinite;

}

.about-title {
  color:var(--background);

  font-size: 40px;
  text-align: left;
}
.navbar {
  position: sticky;
  top:0;
  z-index: 9999;
  
}
#about {
position: relative;
top:20%;
}
.about-desc {
  width:50%;
}
.contact {
  position: relative;
  z-index: 1000;
  height:90vh;
  width: 100%;
}
.contact-container {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.conveyer {
  width: 100%;
}
.screen {
  height:60%;
  width:60%;
  border:5px solid var(--main-color);
  border-radius: 20px;
  transform: translateY(20px);
  background-color: var(--main-color);
  display:flex;

 align-items: center;
 flex-direction: column;
}
.screen * {
  color:var(--background);
  text-align: center;
}
.socials {
  font-size:40px;
  width:100%;
  display: flex;
  justify-content: center;
}
.socials * {
  margin: 20px;
}
.email {
  font-size: 40px;
}
.sorter {
  display: flex;
  height:30%;
  width:40%;
  background-color: var(--main-color);
  border-radius: 20px 20px 0px 0px;
  position: relative;
  top:100px;
  justify-content: flex-end;
  z-index: 99;
}

.logos {
  position: absolute;
  left:50%;
  display: flex;
  width: 50%;
  height:100%;
  justify-content: space-between;
}
.logo {
  height:100px;
  width:100px;
  animation: move-box 1s linear infinite;
  background-color: var(--main-color);
  animation-direction: alternate;
}
.hinge {
  position: relative;
  right:10px;
  top:10px;
  width:5px;
  height:95%;
  border-radius: 20px;
  transform-origin: top left;
  background-color: var(--main-color);
  animation: flick 1s ease-in infinite;

}
.box {
  --gap: 200px;
  position: relative;
  aspect-ratio: 1/1;
  width:100px;
  height:100px;
  background-color: var(--main-color);
  margin-right:var(--gap);
  top:100px;
  animation: move-box 1s linear infinite;

}
.gap {
  margin-right: var(--gap);
  /* position: relative; */
  /* left:20%; */
}
.boxLabel {
position: relative;
bottom: 80px;
z-index: 60 !important;

}

.code {
  position: relative;
  z-index: 105;
  font-size: 80px;
  color:var(--background);
}
.boxes {
  transform: translateY(-100%) translateX(-15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:100%;
  position: relative;
  z-index: 99;
}
.reverse {
  animation-fill-mode: forwards;
  animation-direction: reverse !important;
}
.lever-switch {
   animation: lever 0.8s ease-in-out normal forwards ;
}

.boxBottom {
  position: relative;
  top:120%;
}

.cog {
  width:50px;
  height:100%;
  background-color: var(--main-color);
  clip-path: url("#cog");
  animation:spin 2s linear infinite;
}
.half {
  width:100%;
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
.shroud {
  width:50%;
  height:100%;
  background-color: var(--background);
  transform: translateY(-230%);
  /* position: relative; */
  z-index: 70
}
.belt, .belt-static {
  width:99%;
  height:50px;
  border: 5px solid var(--main-color);
  border-radius:10px;
  display: flex;
  justify-content: space-between;
}

.run, .run * {
  animation:none;
}
.fixed {
  position: fixed;
}
.learn-more {
  width:150px;
  height:50px;
  border: none;
  border-radius: 10px;
  background-color: var(--background);
  color:var(--main-color)
}

/* Growing for Desktop */
@media (min-width: 800px) {
  .nudge3 {
    display: none;
  }
  .card {
    width:50%;
    height:70%;
  }
  .cards {
    padding-top:25%;
  }
}
@media (min-width: 1000px) {
  .card {
    width:40%;
    height:60%;
  }
  .cards {
    padding-top:15%;
    padding-bottom: 10%;
  }

}@media screen and (min-width: 1600px) {
 

}
@media (min-width:1400px) {
  .live-links {
    display: none;
   }
   .info-card * {
    text-align: left;
   }
   .info-links-desktop {
    display: flex;
   }
}
@media (min-width:2000px) {
  .nudge2 {
    display: none;
  }
  .nudge {
    transform: translateY(-150px);
  }
}

@media (min-width: 1900px) {
  .in-funnel {
    width:40%;
    height:300%;
  }
}
/*Shrinking for mobile*/

@media (max-width: 1000px) {

  .scroll-link {
    font-size: 20px !important;
  }
 .arrow {
  top:15%;
 }
}

.svgs {
  position: absolute;
}
@media (max-width:750px) {
  .svg1, .svg2 {
    width: 800px;
    overflow-x: hidden;
  }
  .about-content {
    display: flex ;
    flex-direction: column;
  }
  .about-desc {
    width: 90%;
  }
  .flow {
    animation-duration: 1s !important;
  }
  .nudge4 {
    display: block;
    translate: 0 -230px;
  }
  .nudge5 {
    display: block;
    translate: 0 -300px;
  }
  .nudge6 {
    display: block;
    translate: 0 -330px;
  }
  .nudge7 {
    display: block;
    translate: 0 -350px;
  }
  .nudge8 {
    display: block; 
    translate: 0 -370px;
  }
  
}

@media (max-width:600px) {
.grid-item {
  margin:0;
}
.grid-modal {
  flex-direction: column;
}
.grid-bio {
  width: 80%;
}
.grid-img {
  margin-top: 20px;
  width: 80%;
}
  .project-links > * {
    margin-left:20px;
    margin-right: 20px;;
  }
}
@media (max-width:500px) {
  
  .boxes {
    transform: translateY(-100%) translateX(-80%);
  }
  .sig-arrow {
    right:20%;
    top:15%;
  }
 
  
}
@media (max-width:400px) {
  .nudge2 {
    bottom:30px;
  }
  .boxes {
    transform: translateY(-100%) translateX(-110%);
  }
}
@media (max-width:400px) {
  .title {
    font-size: 12px !important;
  }
  
}
