:root {
  --background:#2e2e2e;
  --main-color: #c0ff33;
  --main-opaque:var(--main-color, 0.5);
  
}
#scrollTest {
  position: fixed;
  top: 10px;
  left:10px;
  background-color: var(--background);
  padding: 10px;
z-index: 101;
  width: 100%;
  clip-path: url("#testScroll");
  transition: 0.5s all;
}
#scrollTestBackground {
  width:30px;
  top:-10px;
  background-color: var(--background);
  position: fixed;
  right:11.7px;
  clip-path: url('#ScrollPathBackground');
  z-index: 95;
  transition: 0.5s all;
}
 

#scrollBar {
  width:30px;
  top:-10px;
  background-color: var(--main-color);
  position: fixed;
  right:10px;
  clip-path: url('#scroll');
  z-index: 95;
  transition: 0.5s background-color;


}
#scrollBackground {
  width:30px;
  top:-10px;
  background-color: var(--background);
  position: fixed;
  right:11.7px;
  clip-path: url('#ScrollPathBackground');
  z-index: 95;
  transition: 0.5s background-color;

}
::-webkit-scrollbar {
 display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
.tomorrow-thin {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .tomorrow-extralight {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .tomorrow-light {
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tomorrow-medium {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .tomorrow-semibold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .tomorrow-bold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .tomorrow-extrabold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .tomorrow-black {
    font-family: "Tomorrow", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .tomorrow-thin-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .tomorrow-extralight-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .tomorrow-light-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .tomorrow-regular-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .tomorrow-medium-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .tomorrow-semibold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .tomorrow-bold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .tomorrow-extrabold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .tomorrow-black-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
@keyframes spin {
    from {
        rotate: 0deg;
    }
    
 
    to {
        rotate: 360deg;
    }
}

.svg1, .svg2 {
    fill-opacity: 0;
    width: 50%;
    position: absolute;
    animation: spin 10s linear infinite ;
    top:-25%;
    left:-10%;
    stroke: var(--main-color);
    stroke-width: 2px;
    filter: drop-shadow( 0 0 10px var(--main-opaque));
}
.svg1 path, .svg2 path {
  fill: var(--background);
}
body {
  width: 100%;
  overflow-x: hidden;
    background-color: var(--background);
    transition: all 0.5s;
    
}
body > * {
    transition: all 0.5s;
}
.hero-title {
    color:var(--main-color);
    margin:5px;
    filter: drop-shadow( 0 0 10px var(--main-opaque));
}
.colors {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.colorBtn {
  border-radius: 7px;
  border: none;
  margin:5px;
cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.colorSelect {
  color:var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.hero {
    stroke:  var(--background);
    stroke-width: 5px;
    width: 100%;
    height:100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50dvh;
    flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
}
.description {
  text-align: center;
  color:var(--main-color)
}
.hero-main {
    width:50%;
    display: flex;
    justify-content: center;
}
.svg3 {
  filter: drop-shadow( 0 0 10px var(--main-opaque));

  transform: translate3d(0, 0, 0);
  z-index: 98;
}
.svg3 path {
  fill: var(--main-color);
}
use {
  z-index: 95;
}
.waves {
  
  width: 210%;
  z-index: 95;
position: relative;
  min-height: 100px;
  bottom: 10px;
  left: 0;
  
}

#wave{
  animation: move-forever 10s linear infinite;
  filter: drop-shadow( 0 0 1px var(--main-opaque));
}
#color {
  transition: all 0.5s;
}
#color::-webkit-color-swatch {
border: none;
border-color:transparent;
}
.centered {
  justify-content: space-evenly;
  text-align: center;
}
.arrow-body {
  /* Rectangle 1 */

position: relative;
left:45%;
top:75px;
width: 10px;
height: 75px;
background: var(--main-color);
border-radius: 10px;
z-index: 99;
}
.arrow {
  position: fixed;
  right:50px;
  top:45%;
display: flex;
flex-direction: column;
}

.arrow svg {
  z-index: 999;
  stroke: var(--background);
  stroke-width: 2px;
 position: relative;
 margin:0px;
animation: wiggle 5s ease-in-out infinite
}
.arrow svg path {
  fill: var(--main-color);
}
.arrow svg:nth-child(1) {
  animation-delay: 200ms;
}
.arrow svg:nth-child(2) {
  animation-delay: 400ms;
}
.arrow svg:nth-child(3) {
  animation-delay: 600ms;
}

@keyframes wiggle {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);

  }
}

@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }

  100% {
      transform: translate3d(85px, 0, 0);
  }
}


/*Shrinking for mobile*/

@media (max-width: 1000px) {
  .waves {
    width: 100%;
      height: 100px;
      min-height: 40px;
      position: relative;
      bottom:10px;
  }
  .scroll-link {
    font-size: 20px !important;
  }
 .arrow {
  top:15%;
 }
}

/* Waves Animation end*/

.aboutMe {
  color:var(--background);
  position: relative;
  width:100vw;
  height:200dvh;
  background-color: var(--main-color);
  z-index: 5;
  bottom:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.arrow {
  z-index: 999;
}
.about-content {
  margin:20px;
  text-align: left;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content * {
  text-wrap:wrap;
  margin:20px;
}
.about-img {
  position: relative;
height:400px;
aspect-ratio: 1/1;

 }
.about-mask {
  height:100%;

position: absolute;
inset: 0;
background-color: #ffaa00;
overflow: hidden;

/* animation: spin 5s linear infinite; */

}
.about-mask, .about-mask img {
  
  margin: 0;
}
.about-mask img {
 animation: spin 5s linear infinite;
animation-direction: reverse;
}
.about-mask {
  position: absolute;
  display: block;
content: "";
  height:100%;
  width:100%;

mask-image: url('/assets/blob.svg');
mask-size: contain;
mask-repeat: no-repeat;
mask-composite: exclude;
mask-clip: border-box;
animation: spin 5s linear infinite;

}

.about-title {
  color:var(--background);

  font-size: 40px;
  text-align: left;
}
.navbar {
  position: sticky;
  top:0;
  z-index: 999;
  
}
#about {
position: relative;
top:20%;
}
.navbar ul {
  display:flex;
  width: 90%;
  height:50px;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}
.navbar li {
  margin-right:32px;
  transition: all 0.5s;
  stroke:var(--background);
  stroke-width: 5px;
}
.navbar li a {
  position: relative;
  text-decoration: none;
  color:var(--main-color);
  font-size: 24px;
  scroll-behavior: smooth;
  stroke:var(--background);
  stroke-width: 5px;
  -webkit-text-stroke: 0.75px var(--background);
  

}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar li:hover {
  transform: scale(1.2);
  filter: drop-shadow( 0 0 2px --main-opaque);

}